Source/NationalCriminal.Search.ServiceAccess/Service References/CriminalSearchServiceReference/CriminalSearch1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9089/CriminalSearch.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NationalCriminal.Search.DataContracts" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NationalCriminal.Search.DataContracts" minOccurs="0" name="searchRequest" nillable="true" type="q1:CriminalSearchRequest" />
        <xs:element minOccurs="0" name="maxRecords" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="emailId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>